*{
    box-sizing: border-box;
    color: white;
    background-color: darkblue;
}

:root{
    --black: #000000;
}

a{
    font-size: 40px;
}

.dados{
    display: block;
    width: fit-content;
    
}

table tr, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}
