{% extends "base.html" %}

{% block conteudo %}
    <fieldset>
        <legend>form</legend>

        <form action="/dados" method="post" class="dados">

            <label for="">nome</label>
            <input type="text" name="nome" id="nome">

            <label for="email">email</label>
            <input type="email" name="email" id="email">
            
            <label for="idade">idade</label>
            <input type="number" name="idade" id="idade">

            <label for="web"></label>
            <input type="checkbox" name="disciplina" id="web" value="web">

            <label for="LP2"></label>
            <input type="checkbox" name="LP2" id="LP2" value="LP2">

            <label for="estdadso">Estrutura de Dados</label>
            <input type="checkbox" name="est" id="est" value="est">
            
            <button type="submit">enviar</button>
            <button type="reset">limpar</button>
        </form>

    </fieldset>
{% endblock %}